# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js Build and Cache
.next/
out/
build/

# Cloudflare & OpenNext Local Environments / Cache
.wrangler/
.open-next/
.turbo/
wrangler.toml.bak

# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Drizzle & DB Temporary / Local Files
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Automated Testing Screenshots (Optional: ignore if you don't want history on GitHub)
# Dacă vrei ca pozele făcute de Puppeteer să rămână doar la tine pe calculator, lasă linia de mai jos:
/Screenshots/*.png
/screenshots/*.png

# Testing Cache
coverage/
.nyc_output

# Debug logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Impeccable live-mode local config
.impeccable/

# System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
